* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #fff;
  color: #111827;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

input {
  outline: none;
  border: none;
}

/* --------------------------- */
/* REUSABLE */
/* --------------------------- */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.white {
  color: #fff;
}

.navy-blue {
  color: #263450;
}

.green {
  color: #126333;
}

.dark-grey {
  color: #374151;
}

.mid-grey {
  color: #636a75;
}

.align-center {
  margin: 0 auto;
 }

.wave {
  margin-bottom: 1rem;
}

.box-shadow{
  box-shadow: 0 0 10px 3px #dddfdf;
}

.box-shadow-none{
  box-shadow: none;
}