.faq-section {
  width: 45%;
  margin: 3rem auto;
}

.faq-banner {
  height: 8rem;
  padding: 2rem 4rem;
  background-color: #f2e7cc;
  border-radius: 12px;
  align-items: center;
  box-shadow: 0 0 5px 2px #cdc1a3;
  margin-top: 2rem;
}

.faq-banner-open {
  height: 8rem;
  padding: 2rem 4rem;
  background-color: #f2e7cc;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  box-shadow: 0 0 5px 2px #cdc1a3;
  margin-top: 2rem;
}

.banner-title {
  font-size: 2rem;
  font-weight: 600;
}

.banner-icon {
  font-size: 2.4rem;
  color: white;
  background-color: #1b4130;
  border-radius: 50%;
  padding: 1.2rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.banner-arrowicon {
  font-size: 2.5rem;
  margin-left: auto;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.8s ease;
    visibility: visible;
}

.banner-arrowicon-rotated {
  transform: rotate(180deg);
  transition: transform 0.8s ease;
  font-size: 2.5rem;
  margin-left: auto;
  cursor: pointer;
  visibility: visible;
}

.question-arrowicon {
  font-size: 2.5rem;
  margin-left: auto;
  cursor: pointer;
}

.faq-content {
  background-color: #fff;
  padding: 2rem 4rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 0 10px 3px #dddfdf;
}

.faq-question {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.faq-answer {
  font-size: 1.45rem;
  margin-bottom: 1rem;
}

.question-and-answer {
  margin: 1rem 0 1rem 6.3rem;
  border-bottom: 1px solid #c39f577e;
}

.question-and-answer:last-child {
  border: none;
}
