/* --------------------------- */
/* ------ GALLERYSCREEN ----- */
/* --------------------------- */

.gallery-section {
  width: 75%;
  margin: 0 auto;
  padding: 4rem 0;
}

.gallery-label {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  position: relative;
}

.gallery-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
.wave-gallery {
  margin: 0 auto 4rem auto;
}

.gallery-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 26rem;
  gap: 1.5rem;
}

.gallery-content-img {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.gallery-content-img:hover ion-icon[name="scan-outline"] {
  opacity: 1;
}

ion-icon[name="scan-outline"] {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(128, 128, 128, 0.698);
  padding: 0.8rem;
  color: #fff;
  border-radius: 5px;
  font-size: 2.2rem;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.gallery-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-content-img img:hover {
  transform: scale(1.03);
}

.gallery-content-img.large {
  grid-row: span 2;
}

.share-div {
  padding: 2rem 5rem;
  background-color: #f2e7cc;
  max-width: 60%;
  width: 100%;
  margin: 4rem auto 0 auto;
  border-radius: 8px;
  justify-content: space-between;
}

.ion-icon-row {
  gap: 1.5rem;
  align-items: center;
}

.share-div ion-icon {
  font-size: 5rem;
  flex-shrink: 0;
  color: #1b4130;
}

.share-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.share-description {
  font-size: 1.17rem;
}

.share-button {
  padding: 1.1rem 2rem;
  border-radius: 8px;
  background-color: #1b4130;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  margin-left: 2rem;
  align-items: center;
}

/* ----- YET ANOTHER REACT LIGHTBOX -----  */

.yarl__counter {
  font-size: 1.6rem;
  background-color: #1b4130;
  border-radius: 12px;
  width: 7rem;
  height: 4.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  left: auto !important;
  right: 2rem !important;
}

.yarl__thumbnails_thumbnail {
  border: 1px solid rgb(54, 53, 53) !important;
}
