/* --------------------------- */
/* -------- HOMESCREEN ------- */
/* --------------------------- */

/* --------------------------- */
/* ---------- HEADER --------- */
/* --------------------------- */

.header-section {
  padding: 0.5rem 5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}

.header-subpage {
  background-color: #0e2319;
}

.header-logo {
  max-width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.4s ease;
  height: 100%;
}

.nav-links {
  align-items: center;
}

.hamburger-button {
  display: none;
}

.nav-button {
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  background: transparent;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-button:hover {
  transform: scale(1.025);
}

.nav-button span {
  position: relative;
}

.nav-button span::after {
  content: "";
  position: absolute;
  background: #ead938;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}

.nav-button:hover span::after {
  opacity: 1;
}

.nav-button--contact {
  background-color: #f0d11f;
  font-weight: 600;
  border-radius: 25px;
  padding: 1rem 2.8rem !important;
  gap: 0.8rem;
  font-size: 1.5rem !important;
}

.nav-button--contact:hover {
  background-color: #f5df52;
}

.nav-button--contact ion-icon {
  font-size: 2.2rem;
}

.active-nav-button span {
  color: #f0d11f;
}
.active-nav-button div {
  color: #f0d11f;
}

.active-nav-button span::after {
  content: "";
  position: absolute;
  background: #f0d11f;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease;
}

/* --------------------------- */
/* ------------ HERO --------- */
/* --------------------------- */

.hero-section {
  width: 100%;
  min-height: 75vh;
  position: relative;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9) contrast(1.15) saturate(1.2);
  z-index: 1;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #00000088 0%,
    #0000004a 25%,
    #00000022 50%,
    #00000013 100%
  );
  z-index: 5;
}

.hero-content {
  z-index: 800;
  padding: 2rem 0 10rem 13rem;
  justify-content: flex-start;
  height: 100%;
}

.hero-title-dancing-script {
  font-family: "Dancing Script", sans-serif;
  font-size: 8rem;
  transform: rotate(-4deg);
  margin-bottom: 1.5rem;
  text-shadow: 0 0 2px #080808da;
  width: fit-content;
}

.hero-title {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #f0d11f;
  width: fit-content;
  text-shadow: 0 0 2px #080808da;
}

.hero-description {
  font-size: 1.9rem;
  max-width: 50rem;
  line-height: 3.3rem;
  margin-bottom: 3rem;
  text-shadow: 0 2px 8px #000000b5;
}

.hero-buttons {
  gap: 1.5rem;
}

.hero-buttons ion-icon {
  font-size: 2.2rem;
}

.btn {
  padding: 1.2rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 25px;
  transition: all 0.4s ease;
  gap: 0.8rem;
  cursor: pointer;
}

.btn-primary {
  background: #f0d11f;
  max-width: 28rem;
  opacity: 0.95;
  color: #000;
}

.btn-primary:hover {
  background: #385c25;
  transform: scale(1.02);
}

.btn-secondary {
  max-width: 17rem;
  background: transparent;
  border: 1px solid #fff;
  background: #ffffff14;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.btn-secondary:hover {
  transform: scale(1.02);
}

/* ---------- HERO-WAVE ---------  */

.hero-wave {
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 100%;
  height: 120px;
  z-index: 50;
}

.hero-wave svg {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-wave path {
  fill: #ffffff;
}

/* --------------------------- */
/* ----- ABOUT-US-SECTION ----- */
/* --------------------------- */

.about-us-section {
  padding: 4rem 4rem;
  max-width: 75%;
  margin: 0 auto;
  justify-content: space-between;
}

.about-us-label {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-us-title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.about-us-description {
  font-size: 1.5rem;
  line-height: 3.2rem;
}

.about-us-text-col {
  flex: 0 0 35%;
}

.about-us-photo-col {
  display: flex;
  flex: 0 0 50%;
}

.about-us-photo-col img {
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* --------------------------- */
/* ---------- FEATURES ------- */
/* --------------------------- */

.features-cards {
  max-width: 65%;
  margin: 0 auto;
  gap: 1rem;
}

.features-card {
  flex: 0 0 calc(20% - 0.8rem);
  justify-content: flex-start;
  align-items: center;
}

.features-card img {
  max-width: 18rem;
  max-height: 14rem;
  width: 100%;
  height: 100%;
}

.features-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-align: center;
}

.features-card-subtitle {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
  max-width: 22rem;
}

/* --------------------------- */
/* ----------- OFFER --------- */
/* --------------------------- */

.offer-section {
  padding: 6rem 0;
  max-width: 80%;
  margin: 0 auto;
}
.offer-label {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.offer-title {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.offer-cards {
  gap: 1.5rem;
  align-items: stretch;
  margin-top: 1rem;
}

.offer-card {
  flex: 0 0 calc(25% - 1.125rem);
  border-radius: 20px;
  transition: all 0.6s ease;
  overflow: hidden;
  border: 1px solid #eaeaeb;
  box-shadow: 0 0 10px 3px #dddfdf;
}

.offer-card:hover .offer-card-img img {
  transform: scale(1.07);
}

.offer-card-img {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/10;
  position: relative;
}

.additional-info {
  position: absolute;
  background-color: #f0d11f;
  z-index: 50;
  padding: 0.5rem 1rem;
  top: 5px;
  left: 10px;
  border-radius: 20px;
  font-size: 1.2rem;
  align-items: center;
  gap: 0.5rem;
}
ion-icon[name="star"] {
  font-size: 1.8rem !important;
}

.offer-card-img img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  object-fit: cover;
  display: block;
}

.offer-card-content {
  padding: 1.5rem 2.2rem;
  flex: 1;
  background-color: #fff;
}

.content-and-icon {
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.content-and-icon ion-icon {
  font-size: 2rem;
  color: #23a757;
  flex-shrink: 0;
}

.offer-card-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

ion-icon[name="time"] {
  font-size: 2.5rem !important;
}

.offer-card-duration {
  font-size: 1.8rem;
  font-weight: 600;
}

.offer-card-desc {
  font-size: 1.3rem;
}

.offer-card-feature {
  font-size: 1.3rem;
}

.offer-card-longness {
  font-size: 1.8rem;
  font-weight: 600;
}

.card-footer {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card-button {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  border-radius: 15px;
  background-color: #1f4d3a;
  transition: transform 0.4s ease;
}

.card-button:hover {
  transform: scale(1.015);
  background-color: #265b45;
}

/* EMBLA carousel */
.embla__viewport {
  overflow: hidden;
}

.embla {
  position: relative;
}

.embla__prev {
  position: absolute;
  left: -8rem;
  top: 50%;
  background-color: transparent;
  transform: translateY(-50%);
  border: 1px solid #c3c5c6d0;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.embla__next {
  position: absolute;
  right: -8rem;
  top: 50%;
  background-color: transparent;
  border: 1px solid #c3c5c6d0;
  font-size: 2.5rem;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.embla__dots {
  width: 6rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.embla__dot {
  width: 1.3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: rgba(194, 192, 192, 0.788);
  cursor: pointer;
  opacity: 0.5;
}

.embla__dot--selected {
  opacity: 1;
}

/* --------------------------- */
/* ------ WHY US SECTION ----- */
/* --------------------------- */

.why-us-section {
  padding: 5rem 0 8rem 0;
  max-width: 80%;
  margin: 0 auto;
}

.why-us-label {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.why-us-row {
  gap: 5rem;
}
.why-us-cards-row {
  gap: 1.5rem;
  justify-content: flex-start;
}

.why-us-cards {
  flex: 0 0 calc(65% - 2.5rem);
  justify-content: space-between;
}

.pricelist {
  flex: 0 0 calc(35% - 2.5rem);
}

.why-card {
  flex: 0 0 calc(25% - 1.25rem);
  align-items: stretch;
  border-radius: 12px;
  align-items: center;
  padding: 1.3rem;
  box-shadow: 0 0 10px 3px #dddfdf;
  background-color: #fff;
  border: 2px solid #dddfdf;
}

.why-card img {
  max-width: 7rem;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}

.why-card-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.why-card-desc {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.pricelist {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px 3px #dddfdf;
  border-radius: 12px;
  border: 2px solid #dddfdf;
}

.pricelist-content {
  gap: 2rem;
}

.pricelist-card {
  flex: 0 0 calc(50% - 1rem);
  align-items: center;
}

.pricelist-card img {
  max-width: 8rem;
}

/* --------------------------- */
/* -------- GALLERY-HOME ------ */
/* --------------------------- */

.gallery-home-section {
  max-width: 85%;
  margin: 0 auto;
  padding: 3rem;
  background-color: #e6dcc6;
  border-radius: 20px;
  margin-bottom: 5rem;
}

.gallery-home-div {
  gap: 1rem;
  margin-top: 2rem;
}

.gallery-home-div-img {
  display: flex;
  height: fit-content;  
  overflow: hidden;
  flex: 0 0 calc(18% - 0.85rem);
}

.gallery-home-div-img img {object-fit: cover;
  width: 100%;
  height: 19rem;
  border-radius: 20px;
}

.width14 {
  flex: 0 0 calc(14% - 0.85rem) !important;
}

.gallery-home-button {
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  border: 1px solid #23a757;
  border-radius: 15px;
  background-color: #1f4d3a;
  width: fit-content;
  margin: 2rem auto 0 auto;
  gap: 1rem;
  align-items: center;
  transition: transform 0.4s ease;
}

.gallery-home-button:hover {
  transform: scale(1.01);
  background-color: #265b45;
}

.gallery-home-button ion-icon {
  font-size: 2rem;
}

.gallery-home-label {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.gallery-home-title {
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* --------------------------- */
/* -------- FAQ-HOME ------ */
/* --------------------------- */
.faq-home-section {
  padding: 3rem 0;
  max-width: 65%;
  margin: 0 auto;
}

.faq-home-label {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.faq-home-title {
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.faq-home-button {
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  border: 1px solid #23a757;
  border-radius: 15px;
  background-color: #1f4d3a;
  width: fit-content;
  margin: 2rem auto 0 auto;
  gap: 1rem;
  align-items: center;
  transition: transform 0.4s ease;
}

.faq-home-button:hover {
  transform: scale(1.015);
  background-color: #265b45;
}

.faq-home-button ion-icon {
  font-size: 2rem;
}

.faq-card-open {
  border-radius: 12px;
  margin-top: 1.5rem;
}

.faq-home-card {
  height: 7.5rem;
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
}

.faq-home-card-icon {
  font-size: 2.4rem;
  color: white;
  background-color: #1b4130;
  border-radius: 50%;
  padding: 1.2rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.faq-home-card-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 0;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.open {
  border-bottom: 2px solid #f0d11f;
}

.faq-home-card-arrowicon {
  font-size: 2.5rem;
  margin-left: auto;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
  visibility: visible;
}

.faq-home-card-arrowicon-rotated {
  font-size: 2.5rem;
  margin-left: auto;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.4s ease;
  visibility: visible;
}

.faq-home-answer {
  padding: 0rem 10.5rem 2rem 10.5rem;
  font-size: 1.5rem;
}

/* ----------------------------------- */
/* -------- GOOGLE REVIEWS HOME ------ */
/* ----------------------------------- */

.reviews-home-section {
  padding: 3rem 0;
  max-width: 65%;
  margin: 0 auto;
}

.reviews-home-label {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.reviews-home-title {
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.reviews-banner {
  justify-content: space-between;
  padding: 1.9rem 3.5rem;
  border: 2px solid rgba(194, 192, 192, 0.175);
  border-radius: 12px;
  margin-top: 2rem;
  align-items: center;
}

.google-logo-big {
  width: 5rem;
  height: 5rem;
  margin: auto 2rem auto 0;
}

.star-rating {
  color: #f0d11f;
  font-size: 3rem;
}

.rating-div {
  align-items: center;
}

.review-text {
  font-size: 1.6rem;
}

.reviews-average {
  font-size: 3.3rem;
  padding-right: 1.5rem;
  font-weight: 600;
}

.google-logo {
  width: 2.3rem;
  height: 2.3rem;
}
.reviews-button ion-icon {
  font-size: 2rem;
  flex-shrink: 0;
}

.reviews-button {
  color: #000;
  padding: 1.6rem 1.9rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  border: 2px solid rgba(194, 192, 192, 0.175);
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.reviews-button:hover {
  transform: scale(1.01);
}

.card-star-rating {
  font-size: 2.5rem;
  color: #f0d11f;
  margin-right: 1.1rem;
}

.review-date {
  font-size: 1.2rem;
}

.review-cards {
  gap: 2rem;
  margin-top: 2rem;
}

.review-content {
  font-size: 1.35rem;
  line-height: 2.2rem;
  margin-top: 1.5rem;
}

.review-card {
  flex: 0 0 calc(33% - 1rem);
  padding: 2rem;
  border: 2px solid rgba(194, 192, 192, 0.175);
  border-radius: 12px;
}

.review-img {
  width: 7rem;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}

.review-userreviews {
  margin-top: 0.2rem;
  font-size: 1.2rem;
}

.review-username {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-stars-div {
  align-items: center;
  margin-top: 1.5rem;
}

.review-card-banner {
  justify-content: space-between;
}

.review-card-banner img {
  width: 4rem;
  aspect-ratio: 1/1;
}

.reviews-home-button {
  padding: 1.1rem 2.4rem;
  font-size: 1.6rem;
  color: #000;
  border-radius: 15px;
  background-color: #f0d11f;
  width: fit-content;
  margin: 2rem auto 0 auto;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
  transition: transform 0.4s ease;
}

.reviews-home-button:hover {
  transform: scale(1.01);
  background-color: #edbc2b;
}
/* --------------------------- */
/* ---------- FOOTER --------- */
/* --------------------------- */

.footer-section {
  width: 100%;
  padding: 1.1rem;
  background-image: url(../img/2canoes.png);
  background-position: center 60%;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  justify-content: flex-end;
  gap: 2rem;
  position: relative;
}

.footer-section:after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: #0000003a;
  z-index: 2;
}

.footer-col {
  z-index: 10;
  width: fit-content;
}

.footer-title {
  font-family: "Dancing Script", sans-serif;
  font-size: 3.8rem;
  text-shadow: 0 2px 8px #000000b5;
  margin-bottom: 0.7rem;
}

.footer-subtitle {
  font-size: 1.55rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.footer-data {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  width: 20rem;
  font-style: normal;
}

.footer-group ion-icon {
  font-size: 2.5rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #ffffff35;
}

.footer-group {
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
  font-weight: 400;
}

.footer-contact-groups {
  align-items: center;
  justify-content: flex-start;
}

.socials-div {
  align-self: flex-start;
  justify-self: flex-start;
  margin-right: 15rem;
  z-index: 10;
}

.socials-div ion-icon {
  font-size: 2.4rem !important;
  padding: 1rem;
  margin-right: 1.3rem;
  background: linear-gradient(to bottom, #0e2319, #1b432f);
  border: 1px solid #ffffff1e;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.socials-div ion-icon:hover {
  transform: translateY(-2px);
}

ion-icon[name="logo-google"] {
  font-size: 2.2rem !important;
  padding: 1.1rem;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.01);
  text-align: left;
  padding: 1.3rem;
  font-size: 1.2rem;
  color: #8b9097;
  letter-spacing: 1px;
  background-color: #0e2319;
  width: 100%;
}

/* --------------------------- */
/* PRIVACY POLICY */
/* --------------------------- */

.privacy-policy {
  margin: 2.5rem;
  text-align: left;
}

.privacy-policy h1 {
  font-size: 2.2rem;
}
.privacy-policy h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}

.privacy-policy p {
  font-size: 1.6rem;
}

.privacy-policy li {
  font-size: 1.6rem;
}

/* --------------------------- */
/* --------SCROLL-TO-TOP------ */
/* --------------------------- */

.scroll-to-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #0e2319, #1d4834);
  color: #f0d11f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  border: none;
  transition: all 0.3s ease;
  z-index: 700;
  cursor: pointer;
}

.scroll-to-top:hover {
  transform: translateY(-2px);
  background-color: #1b2330;
}
