@media only screen and (max-width: 1500px) {
  .header-section {
    padding: 0.8rem 3rem;
  }

  .nav-button {
    padding: 1rem 1.6rem;
  }

  .nav-button--contact {
    padding: 1rem 2.2rem;
  }

  .about-us-section {
    max-width: 80%;
  }
  .features-cards {
    max-width: 78%;
  }

  .offer-section {
    padding: 4rem 0;
    max-width: 90%;
  }
  .offer-card-title {
    font-size: 2rem;
  }
  .offer-card-content {
    padding: 1.5rem 1.7rem;
  }

  .why-us-section {
    padding: 5rem 0 6rem 0;
    max-width: 90%;
  }
  .card-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.4rem;
  }
  .pricelist-card img {
    max-width: 7rem;
  }
  .why-card img {
    max-width: 6rem;
    margin-bottom: 0;
  }

  .why-us-label {
    margin-bottom: 0rem;
  }

  .gallery-home-section {
    max-width: 90%;
    margin-bottom: 3rem;
  }

  .faq-home-section {
    padding: 3rem 0;
    max-width: 75%;
    margin: 0 auto;
  }

  .reviews-home-section {
    max-width: 85%;
  }

  .review-cards {
    gap: 1rem;
  }

  .review-card {
    flex-basis: calc(33% - 0.4rem);
    padding: 1.8rem;
  }

  .socials-div {
    margin-right: 0rem;
  }
}

/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 9px !important;
  }

  .about-us-photo-col {
    flex: 0 0 55%;
  }
  .about-us-text-col {
    flex: 0 0 40%;
  }

  .about-us-section {
    max-width: 85%;
  }

  .features-card img {
    max-width: 15rem;
    max-height: 12rem;
  }

  .offer-card-title {
    font-size: 1.8rem;
  }

  .why-us-section {
    padding: 3rem 0 6rem 0;
  }
  .gallery-home-div img {
    height: 14rem;
  }

  .embla__prev {
    left: -6rem;
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  .embla__next {
    right: -6rem;
    font-size: 2.5rem;
    padding: 0.5rem;
  }
}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {
  html,
  body {
    font-size: 8px !important;
  }

  .header-logo {
    max-width: 10rem;
  }

  .hero-content {
    padding: 2rem 0 1rem 3rem;
  }

  .about-us-section {
    padding: 3rem 4rem;
  }
  .offer-section {
    max-width: 95%;
  }

  .offer-cards {
    gap: 1rem;
  }

  .offer-card {
    flex-basis: calc(25% - 0.75rem);
  }
  .offer-card-content {
    padding: 1.2rem;
  }
  .offer-card-duration {
    font-size: 1.6rem;
  }

  .why-us-section {
    max-width: 95%;
    padding: 2rem 0 6rem 0;
  }

  .why-us-row {
    gap: 2rem;
  }

  .pricelist {
    flex-basis: calc(35% - 1rem);
    padding: 1.5rem;
  }

  .why-us-cards {
    flex-basis: calc(65% - 1rem);
  }

  .why-us-cards-row {
    gap: 1rem;
  }

  .why-card {
    flex-basis: calc(25% - 0.75rem);
  }

  .pricelist-content {
    margin-top: 1rem;
  }
  .why-card-title {
    margin: 0;
    font-size: 3.5rem;
  }
  .gallery-home-section {
    max-width: 95%;
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .reviews-home-section {
    max-width: 90%;
  }

  .footer-section {
    gap: 0rem;
  }

  .embla__prev {
    left: -4rem;
    font-size: 2.3rem;
    padding: 0.5rem;
  }
  .embla__next {
    right: -4rem;
    font-size: 2.3rem;
    padding: 0.5rem;
  }
}

/* mobile - phones */
@media only screen and (max-width: 767px) {
  .hamburger-button {
    display: flex;
    font-size: 4rem;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 999;
    background: #1b4130;
    border-radius: 5px;
    padding: 0.7rem;
    border: none;
    cursor: pointer;
  }

  .nav-links {
    opacity: 0;
  }

  /* ------------ MOBILE NAV ----------- */

  .header-section-mobile {
    padding: 3rem 5rem 5rem 5rem;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0;
    top: 0;
    height: 80%;
    width: 75%;
    background:
      radial-gradient(
        circle at top right,
        rgba(255, 203, 33, 0.08),
        transparent 30%
      ),
      linear-gradient(135deg, #08251d 0%, #0f3d31 40%, #145c48 100%);
    box-shadow: 0 0 20px 10px #0909096b;
    z-index: 999;
    position: fixed;
    flex-direction: column !important;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  }

  .header-mobile-wrapper {
    position: fixed;
    background-color: #000000bf;
    left: 0;
    top: 0;
    z-index: 900;
    width: 100vw;
    height: 100vh;
  }

  .nav-links-mobile {
    flex-direction: column !important;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 3rem;
    width: 100% !important;
  }

  .mobile-icon {
    font-size: 2.8rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
  }

  .active-nav-button span::after {
    display: none;
  }

  .nav-button {
    border-bottom: 1px solid #22503b;
    font-size: 1.9rem;
    }

  .header-logo-hidden {
    opacity: 0;
    transition: all 0.5s ease;
  }

  .header-logo {
    max-width: 9rem;
  }

  /*------------------------------------*/

  .hero-section {
    min-height: 80vh;
  }

  .hero-title-dancing-script {
    font-size: 7rem;
  }

  .hero-content {
    padding: 2rem;
  }
  .hero-wave svg {
    height: 90px;
  }
  .about-us-section {
    flex-direction: column !important;
    gap: 1.5rem;
    max-width: 100%;
    padding: 0 3rem 1.5rem 3rem;
  }

  .features-cards {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 1.5rem 3rem;
  }

  .features-card {
    flex-basis: calc(33.3% - 0.7rem);
  }
  .offer-section {
    max-width: 100%;
    padding: 3rem;
  }

  .offer-cards {
    flex-direction: column !important;
  }

  .why-us-section {
    max-width: 100%;
    padding: 3rem;
  }

  .why-us-label {
    text-align: center;
    margin-bottom: 1rem;
  }
  .why-card-desc {
    font-size: 1.2rem;
  }

  .why-us-cards-row {
    gap: 0.5rem;
  }

  .why-card {
    padding: 1rem;
    flex-basis: calc(25% - 0.375rem);
  }

  .why-us-row {
    flex-direction: column !important;
  }

  .pricelist {
    width: 80%;
    margin: 0 auto;
  }

  .gallery-home-section {
    max-width: 100%;
    padding: 1rem;
    margin: 3rem;
  }

  .gallery-home-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-home-div-img {
    flex: 0 0 calc(33% - 0.7rem);
  }

  .faq-home-section {
    padding: 3rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .faq-home-card-title {
    line-height: 3.2rem;
    margin-right: 2rem;
  }

  .faq-home-card {
    max-height: 9rem;
    height: 100%;
    padding: 2rem 3rem;
  }

  .reviews-banner {
    flex-direction: column !important;
    gap: 1.5rem;
  }

  .reviews-home-section {
    max-width: 100%;
    padding: 2rem 5rem;
  }

  .review-card {
    flex-basis: calc(100%);
  }

  .footer-section {
    flex-direction: column !important;
  }

  .footer-data {
    max-width: 17rem;
  }

  .footer-section {
    background-position: 30% 60%;
  }

  .scroll-to-top {
    right: 2rem;
    bottom: 2rem;
  }

  .socials-div {
    margin-left: auto;
    margin-top: 1rem;
  }

  .embla__dots {
    display: none;
  }

  .footer-section:after {
    background-color: #00000051;
  }
}

/* small mobile - phones*/
@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 7px;
  }

  .btn {
    gap: 1.3rem;
  }

  .about-us-section {
    padding: 0 2rem 1.5rem 2rem;
  }

  .features-cards {
    padding: 1.5rem 2rem;
  }

  .offer-section {
    padding: 2rem;
  }

  .why-us-section {
    padding: 2rem;
  }
  .why-card-desc {
    font-size: 1rem;
  }

  .pricelist-card img {
    max-width: 6rem;
  }

  .pricelist {
    padding: 1rem;
  }

  .gallery-home-section {
    margin: 2rem;
    padding: 2rem;
  }

  .gallery-home-div-img {
    flex-basis: calc(50% - 0.5rem);
  }

  .faq-home-section {
    padding: 2rem;
  }

  .faq-home-card {
    max-height: 11rem;
  }
  .reviews-home-section {
    max-width: 100%;
    padding: 2rem 4.5rem;
  }

  .reviews-banner {
    padding: 1.9rem 2rem;
  }

  .footer-contact-groups {
    flex-direction: column !important;
    gap: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .footer-title {
    font-size: 4.9rem;
    text-align: center;
  }

  .footer-section {
    padding: 2rem;
  }

  .footer-subtitle {
    text-align: center;
  }
}
